*{
    margin: 0;
    padding: 0;
    font-family:'Nunito', sans-serif;
    box-sizing: border-box;
}
.header{
    height: 140px;
    width: 100%;
    
    background: rgb(255, 255, 255);
    position:fixed;
    padding: 0 8%;
    z-index: 12; 
    font-family: 'Nunito', sans-serif;  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}
.logo{
    height: 140px;
}
.nav-links{
    padding: 28px 0;   
    font-family: 'Nunito', sans-serif; 
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
    font-family: 'Nunito', sans-serif;
}
.nav-links li a{
    text-decoration: none;
    color:black;
    padding :20px 0; 
    position: relative;
    font-family: 'Nunito', sans-serif;
}
.nav-links li a::after{
    content: "";
    background: rgba(2, 8, 81, 0.804);
    width:0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width  0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.contents{
    position:relative;
    width:100wh;
    top: 140px;
}
.leftcontents{
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    color:rgb(251, 251, 251);
    position: relative;
    bottom:250px;
    margin-left: 150px;
}
.imgpos{
    position:relative;
    margin-left: 723px;
    bottom :536px;
}
body{
    min-height: 100vh;
    width:100vw;
    overflow-x: hidden;
    overflow-y:visible;
    font-family: 'Nunito', sans-serif;
}
.content{
    position:absolute;
    left:50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%,-50%);
    text-align: center;
    

}
.content h1{
    font-size: 65px;
    font-weight: 600;

}
.content form{
    background: black;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}
.content form input{
    flex: 1;
    border: none;
    outline:none;
    padding: 0 20px;
    font-size: 18px;
}

.content form button{
    background: rgba(2, 8, 81, 0.804);
    padding: 15px 40px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
    
}
.category-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.category{
    width: 140px;
    height: 140px;
    background: rgba(2, 8, 81, 0.804);
    margin: 0 10px;
    font: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.category img{
    width: 30px;
    margin-bottom: 5px;

}